body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text{
  border: 1px solid red;
  /* width: 400px; */
  height: 400px;

  cursor: pointer;
  transition: .5s;
}

.default{
  width: 600px;
  background-color: blueviolet;
}

.active {
  width: 100px;
  background-color: green;
}
